# Turn off symlinks because they appear in the @npm//installed location
# re-rooted under a different package, causing error:
# Label '@npm//installed:bazel-rules_angular/... crosses boundary of subpackage
# This is another workaround for
# https://github.com/bazelbuild/bazel/issues/374
# To find the folders which are normally symlinked into the project,
# run `bazel info`
build --symlink_prefix=/
